body {
  background: rgba(20, 20, 20, 1);
  font-size: 18px;
}
.container {
  width: 1000px;
  margin: auto;
}

.nav-bar {
  position: fixed;
  left: 0;
  top: 0;
  background: black;
  width: 200px;
  height: 100vh;
  display: flex;
  justify-content: left;
  align-items: top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link {
  display: block;
  width: 95%;
  height: 100px;
  background: rgba(20, 20, 20, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px 0;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.2em;
}
